<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>Smarthome Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joe Lewis">
    
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <div id="app">
      <h1 id="title">Joe's Smarthome Dashboard</h1>
    
      <div id="switches">
        <light-switch
          v-for="light in switches"
          v-bind:light="light"
          v-on:switched="onSwitched"
        ></light-switch>
      </div>
      <div id="buttons">  
        <button v-on:click="goToList">Go to Action List</button><button v-for="button in buttons">{{ button.text }}</button>
      </div>
    
      <img id="weather" src="http://banners.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=wxstnsticker&weatherstationcount=KMDEDGEW31" height="160" width="160" border="0" alt="Weather Underground PWS KMDEDGEW31" />
    </div>
  </body>
  
  <script src="/js/dashboard.js"></script>
</head>
