#buttons {
    padding: 20px 0 10px 0;
}

#buttons button {
    display: inline-block;
    font: 600 16px Sans-serif;
    padding: .4em 1em;
    text-align: center;
    margin: .1em .4em .1em 0;
}

#title {
    margin-bottom: 20px;
    font-family: "Courier New", monospace;
}

#weather {
    display: block;
    margin-bottom: 15px;
}


.switch {
    display: inline-block;
    color: black;
    background-color: grey;
    width: 300px;
    height: 150px;
}

.switch-title {
    font-family: Sans-Serif;
    text-align: center;
}

.switch-status {
    font-weight: bold;
    font-size: 3em;
    margin: auto;
    text-align: center;
}
