#app {
  margin: 1em;
}

#log {
  border-collapse: collapse;
}

#log td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

#log tr {
    margin: 1em 0;
}

#log tr:nth-clild(even) {
  background-color: #dddddd;
}
